In [1]:
import requests
import zipfile
import re
import os
from bs4 import BeautifulSoup

In [2]:
def download_url(url, save_path, chunk_size=128):
    r = requests.get(url, stream=True)
    with open(save_path, 'wb') as fd:
        for chunk in r.iter_content(chunk_size=chunk_size):
            fd.write(chunk)

In [3]:
url ='https://www.partow.net/downloads/GlobalAirportDatabase.zip'
filename = url.split('/')[-1]

In [4]:
download_url(url, filename)

In [5]:
zip = zipfile.ZipFile(filename)

In [6]:
zip.extract('GlobalAirportDatabase.txt')

'/home/pop-os/Documents/jet2-route-analysis/notebooks/exploratory/GlobalAirportDatabase.txt'

In [7]:
if os.path.exists(filename):
    os.remove(filename)

In [8]:
from io import BytesIO
r = requests.get(url, stream=True)
zip_ = zipfile.ZipFile(BytesIO(r.content))

In [9]:
zip_.extract('GlobalAirportDatabase.txt')

'/home/pop-os/Documents/jet2-route-analysis/notebooks/exploratory/GlobalAirportDatabase.txt'

In [10]:
col_url='https://www.partow.net/miscellaneous/airportdatabase/index.html#Downloads'
r = requests.get(col_url)

In [11]:
soup = BeautifulSoup(r.text)

In [12]:
table = soup.find_all(
    'table',
    {'class': "tg"}
)
table

[<table class="tg">
 <tr><th class="tg-9hbo">Field</th><th class="tg-9hbo">Name</th><th class="tg-9hbo">Type</th></tr>
 <tr><td class="tg-6k2t">01</td><td class="tg-6k2t"><b>ICAO Code                </b></td><td class="tg-6k2t">String (3-4 chars, A - Z)</td></tr>
 <tr><td class="tg-6k2t">02</td><td class="tg-6k2t"><b>IATA Code                </b></td><td class="tg-6k2t">String (3 chars, A - Z)  </td></tr>
 <tr><td class="tg-6k2t">03</td><td class="tg-6k2t"><b>Airport Name             </b></td><td class="tg-6k2t">String                   </td></tr>
 <tr><td class="tg-6k2t">04</td><td class="tg-6k2t"><b>City/Town                </b></td><td class="tg-6k2t">String                   </td></tr>
 <tr><td class="tg-6k2t">05</td><td class="tg-6k2t"><b>Country                  </b></td><td class="tg-6k2t">String                   </td></tr>
 <tr><td class="tg-6k2t">06</td><td class="tg-6k2t"><b>Latitude Degrees         </b></td><td class="tg-6k2t">Integer [0,360]          </td></tr>
 <tr><td class="tg-6k2t">07</td><td class="tg-6k2t"><b>Latitude Minutes         </b></td><td class="tg-6k2t">Integer [0,60]           </td></tr>
 <tr><td class="tg-6k2t">08</td><td class="tg-6k2t"><b>Latitude Seconds         </b></td><td class="tg-6k2t">Integer [0,60]           </td></tr>
 <tr><td class="tg-6k2t">09</td><td class="tg-6k2t"><b>Latitude Direction       </b></td><td class="tg-6k2t">Char (N or S)            </td></tr>
 <tr><td class="tg-6k2t">10</td><td class="tg-6k2t"><b>Longitude Degrees        </b></td><td class="tg-6k2t">Integer [0,360]          </td></tr>
 <tr><td class="tg-6k2t">11</td><td class="tg-6k2t"><b>Longitude Minutes        </b></td><td class="tg-6k2t">Integer [0,60]           </td></tr>
 <tr><td class="tg-6k2t">12</td><td class="tg-6k2t"><b>Longitude Seconds        </b></td><td class="tg-6k2t">Integer [0,60]           </td></tr>
 <tr><td class="tg-6k2t">13</td><td class="tg-6k2t"><b>Longitude Direction      </b></td><td class="tg-6k2t">Char (E or W)            </td></tr>
 <tr><td class="tg-6k2t">14</td><td class="tg-6k2t"><b>Altitude                 </b></td><td class="tg-6k2t">Integer [-99999,+99999]<br/>(Altitude in meters from mean sea level)</td></tr>
 <tr><td class="tg-6k2t">16</td><td class="tg-6k2t"><b>Latitude Decimal Degrees </b></td><td class="tg-6k2t">Floating point [-90,90]  </td></tr>
 <tr><td class="tg-6k2t">17</td><td class="tg-6k2t"><b>Longitude Decimal Degrees</b></td><td class="tg-6k2t">Floating point [-180,180]</td></tr>
 </table>,
 <table class="tg">
 <tr>
 <td class="tg-e3zv">YMML:MEL:MELBOURNE INTERNATIONAL:MELBOURNE:AUSTRALIA:037:040:024:S:144:050:036:E:0434:-37.673:144.843</td>
 </tr>
 </table>]

In [13]:
import pandas as pd
pd.read_html(str(table))[0]['Name'].to_list()

['ICAO Code',
 'IATA Code',
 'Airport Name',
 'City/Town',
 'Country',
 'Latitude Degrees',
 'Latitude Minutes',
 'Latitude Seconds',
 'Latitude Direction',
 'Longitude Degrees',
 'Longitude Minutes',
 'Longitude Seconds',
 'Longitude Direction',
 'Altitude',
 'Latitude Decimal Degrees',
 'Longitude Decimal Degrees']

In [17]:
pd.read_html(str(table))[0]

,Field,Name,Type
0,1,ICAO Code,"String (3-4 chars, A - Z)"
1,2,IATA Code,"String (3 chars, A - Z)"
2,3,Airport Name,String
3,4,City/Town,String
4,5,Country,String
5,6,Latitude Degrees,"Integer [0,360]"
6,7,Latitude Minutes,"Integer [0,60]"
7,8,Latitude Seconds,"Integer [0,60]"
8,9,Latitude Direction,Char (N or S)
9,10,Longitude Degrees,"Integer [0,360]"
10,11,Longitude Minutes,"Integer [0,60]"
11,12,Longitude Seconds,"Integer [0,60]"
12,13,Longitude Direction,Char (E or W)
13,14,Altitude,"Integer [-99999,+99999](Altitude in meters fro..."
14,16,Latitude Decimal Degrees,"Floating point [-90,90]"
15,17,Longitude Decimal Degrees,"Floating point [-180,180]"